$ cat .gitignore
#ignore folder: /folder/
#ignore file: /FILE.FILE

#Folders

**/__pycache__/
**/Ignore/
**/.git/
**/.vscode/
**/Output/

# Files
**/pw.py
**/tempCodeRunnerFile.py
**/Pull Github Repo.bat
**/Push Github Repo.bat
