$ cat .gitignore
#ignore folder: /folder/
#ignore file: /FILE.FILE

#Folders
/Python Scripts/Ignore - Not Uploaded/
/Python Scripts/__pycache__/
/HTML Scripts/Ignore/
/.git/
#Files
/Python Scripts/pw.py
/Python Scripts/tempCodeRunnerFile.py
/Pull Github Repo.bat
/Push Github Repo.bat
